html,
body {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}


.appbar {
  padding: 0.5rem;
  background-color: #F7D735;
  display: flex;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.logo {
  height: 3.5rem;
}

.subtitle {
  margin-left: 1rem;
  line-height: 3.5rem;
  display: inline-block;
  color: #2c2c2c;
  font-weight: bold;
}


.container {
  padding: 2rem;
}

.form-card {
  max-width: 600px;
  margin: 0 auto;
  padding: 0.5rem;
  border: 1px solid #EEE;
  border-radius: 0.5rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.form-card-title {
  appearance: none;
  width: 100%;
  margin: 0;
  border: none;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: bold;
}

.form-card textarea {
  appearance: none;
  width: 100%;
  margin-top: 0.6rem;
  border: none;
  resize: none;
  font-family: inherit;
  font-size: 0.9rem;
}

.form-card .btn {
  width: 100%;
}


.card-container {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.65rem;
}

.card {
  flex: 0 0 16rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--card-color);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transform: rotate(var(--card-rotation));
  font-family: 'Permanent Marker', cursive;
  display: flex;
  flex-direction: column;
}
.card-color-1 {
  --card-color: #EAD3A7;
}
.card-color-2 {
  --card-color: #9DE0F5;
}
.card-color-3 {
  --card-color: #EF89BA;
}
.card-color-4 {
  --card-color: #FAE890;
}
.card-color-5 {
  --card-color: #ABE9C1;
}
.card-rotation-1 {
  --card-rotation: -2.5deg;
}
.card-rotation-2 {
  --card-rotation: -2deg;
}
.card-rotation-3 {
  --card-rotation: -1.5deg;
}
.card-rotation-4 {
  --card-rotation: -1deg;
}
.card-rotation-5 {
  --card-rotation: -0.5deg;
}
.card-rotation-6 {
  --card-rotation: 0deg;
}
.card-rotation-7 {
  --card-rotation: 0.5deg;
}
.card-rotation-8 {
  --card-rotation: 1deg;
}
.card-rotation-9 {
  --card-rotation: 1.5deg;
}
.card-rotation-10 {
  --card-rotation: 2deg;
}
.card-rotation-11 {
  --card-rotation: 2.5deg;
}

.card-title {
  padding-bottom: 1rem;
  font-size: 1.25rem;
}
.card-content {
  flex: 1 0 auto;
  min-height: 3.5rem;
  color: #4C4C4C;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
.btn {
  position: relative;
  display: block;
  padding: 10px 15px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #F7D735;
  transition: background-color 0.3s;
}
.btn > * {
  position: relative;
}
.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}
